title: OUISRC
layout: home.liquid
permalink: /index.html
---

<div id="index-top">
      <h1>The OUISRC Community</h1>
      <p>Welcome OUISRC : Open-Unity-Innovate-Share-Respect-Collaboration.</p>
      <div>
        <button><a href="/guides.html" >Start</a></button>
        <button><a href="/docs" >Learn</a></button>
      </div>
    </div>
<div id="index">
  <div id="content">
   <h1>The words is comming.</h1>
  </div>
</div>
