title: OUISRC
layout: home.liquid
permalink: /index.html
---

<div id="index-top">
      <h1>The OUISRC Community</h1>
      <p>Open Source Softwares/Projects 's Future Should Be Community!</p>
      <div>
        <button><a href="/guides.html" >Start</a></button>
        <button><a href="/docs" >Learn</a></button>
      </div>
    </div>
<div id="index">
  <div id="content">
   
  </div>
</div>
